@font-face {
    font-family: "Black_Narrow";
    src: url("mona-sans-blacknarrow-webfont.woff2") format("woff2"), url("mona-sans-blacknarrow-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Black_Narrow_Italic";
    src: url("mona-sans-blacknarrowitalic-webfont.woff2") format("woff2"), url("mona-sans-blacknarrowitalic-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "ExtraBold_Narrow";
    src: url("mona-sans-extraboldnarrow-webfont.woff2") format("woff2"), url("mona-sans-extraboldnarrow-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "ExtraBold_Narrow_Italic";
    src: url("mona-sans-extraboldnarrowitalic-webfont.woff2") format("woff2"), url("mona-sans-extraboldnarrowitalic-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Bold_Narrow";
    src: url("mona-sans-boldnarrow-webfont.woff2") format("woff2"), url("mona-sans-boldnarrow-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Bold_Narrow_Italic";
    src: url("mona-sans-boldnarrowitalic-webfont.woff2") format("woff2"), url("mona-sans-boldnarrowitalic-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Medium_Narrow";
    src: url("mona-sans-mediumnarrow-webfont.woff2") format("woff2"), url("mona-sans-mediumnarrow-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Medium_Narrow_Italic";
    src: url("mona-sans-mediumnarrowitalic-webfont.woff2") format("woff2"), url("mona-sans-mediumnarrowitalic-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Trashhand";
    src: url("trashhand-webfont.woff2") format("woff2"), url("trashhand-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

textarea,
input.text,
input[type="text"],
input[type="button"],
input[type="submit"],
.input-checkbox {
    -webkit-appearance: none;
}

::selection {
    background: var(--escuro);
    color: var(--neon);
}

:root {
    --escuro: #000;
    --neon: #C2FF42;
    --red: #FB4E4E;
}

* {
    background-position: 0 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    font-family: "hk_novaregular";
}

::placeholder {
    color: #ccc;
    opacity: 1;
}

:-ms-input-placeholder {
    color: #ccc;
}

::-ms-input-placeholder {
    color: #ccc;
}

$nomeVariavel: Helvetica, sans-serif;

@mixin backgroundCenterCover {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@mixin backgroundCenterContain {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

@mixin flexRowCentral {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flexColumnCentral {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@mixin anima {
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

html {
    font-size: 62.5%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    background-color: var(--neon);

    &::-webkit-scrollbar {
        width: 8px;
        height: 10px;
    }

    &::-webkit-scrollbar-track {
        background-color: var(--escuro);
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--neon);
    }
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td,
a {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

a,
button {
    display: block;
    cursor: pointer;
    @include anima;
}

h2 {
    -webkit-font-smoothing: antialiased;
}

svg {
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.left {
    float: left;
}

.right {
    float: right;
}

.overflow {
    overflow: hidden;
}

.startAnimation {
    z-index: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background: var(--escuro);

    .logoSpace {
        width: 350px;
        position: relative;
        height: 86px;
        transition: 2.5s;
        left: calc(50% - 175px);
        top: calc(50% - 43px);
        will-change: transform;
        image-rendering: optimizeQuality;

        .pathLeft {
            position: absolute;
            width: 86px;
            fill: var(--neon);
            opacity: 0;
            transition: 0.8s;
            left: 0;
            will-change: transform;
            image-rendering: optimizeQuality;
        }

        .pathRight {
            position: absolute;
            width: 86px;
            fill: var(--neon);
            right: 0px;
            top: 22px;
            opacity: 0;
            transition: 0.8s;
            will-change: transform;
            image-rendering: optimizeQuality;
        }

        .pathLeftActive {
            opacity: 1;
            left: calc(50% - 70px);
        }

        .pathRightActive {
            opacity: 1;
            right: calc(50% - 70px);
        }

    }

    .logoSpaceActive {
        transform: scale(392) rotate(-15deg);
        -webkit-transform: scale(392) rotate(-15deg);
        transform-origin: center;
        -webkit-transform-origin: center;
        margin-left: 821vh;
        margin-top: -218vh;
    }
}

.header {
    width: calc(100vw - (8vw + 8px));
    margin: 0 auto 0 auto;
    margin-top: -200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    left: 4vw;
    z-index: 90;
    transition: 1s;
    -webkit-font-smoothing: antialiased;

    .logo {
        width: 88px;
        height: 50px;
        display: flex;

        svg {
            fill: var(--escuro);
        }
    }

    .menus {
        display: flex;
        align-items: center;

        .link {
            margin-right: 45px;
            position: relative;
            overflow: hidden;
            height: 20px;

            p {
                font-size: 20px;
                font-family: "ExtraBold_Narrow";
                text-transform: uppercase;
                color: var(--escuro);
                letter-spacing: 0.5px;
                transition: 0.3s;
                line-height: 100%;
                position: relative;
            }

            .second {
                position: absolute;
            }

            &:hover {
                p {
                    margin-top: -20px;
                }

                .second {
                    margin-top: 0;
                }
            }
        }
    }
}

.headerAtive {
    margin-top: 2vw;
}

.headerNeon {
    .logo {
        svg {
            fill: var(--neon);
        }
    }

    .menus {
        .link {
            p {
                color: var(--neon);
            }
        }
    }
}

.defaultCTA {
    height: 50px;
    border-radius: 90px;
    border: 2px solid var(--escuro);
    padding: 0 25px;
    position: relative;
    overflow: hidden;
    // -webkit-font-smoothing: antialiased;

    .label {
        font-size: 20px;
        font-family: "ExtraBold_Narrow";
        color: var(--escuro);
        transition: 0.3s;
        text-transform: uppercase;
        height: 100%;
        display: flex;
        align-items: center;
        top: 0;
        letter-spacing: 0.5px;
        position: relative;
    }

    .second {
        position: absolute;
        color: var(--neon);
        top: 100%;
        height: 50px;
        padding-top: 2px;
        letter-spacing: 0.5px;
    }

    .bg {
        width: 50%;
        height: 120%;
        background: var(--escuro);
        position: absolute;
        left: 25%;
        top: 100%;
        transition: 0.3s;
        border-radius: 90px;
    }

    &:hover {
        .label {
            margin-top: -50px;
        }

        .bg {
            top: -5%;
            left: -10px;
            width: calc(100% + 20px);
        }
    }
}

.defaultCTANeon {
    border: 2px solid var(--neon);

    .label {
        color: var(--neon);
    }

    .second {
        color: var(--escuro);
    }

    .bg {
        background: var(--neon);
    }
}

.hero {
    width: 100vw;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
    padding-top: 15.5vw;
    // -webkit-font-smoothing: antialiased;
    z-index: 1;

    img {
        height: 10.5vw;
        position: absolute;
        left: calc(50% - 4.75vw);
        transform: rotate(13deg);
        margin-top: -40vw;
        z-index: 0;
        transition: 1s;
    }

    .avatarActive {
        margin-top: -9vw;
    }

    .smallText {
        position: absolute;
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: -5vw;

        p {
            font-size: 1.1vw;
            text-transform: uppercase;
            font-family: "Medium_Narrow";
            opacity: 0;
            transition: 0.5s;

            span {
                font-family: "Medium_Narrow";
            }
        }

        .right {
            margin-right: 10vw;
        }

        .rightActive {
            margin-right: 21.5vw;
        }

        .left {
            margin-left: 10vw;
        }

        .leftActive {
            margin-left: 21.5vw;
        }

        .preHeaderActive {
            opacity: 1;
        }
    }

    .contH2 {
        overflow: hidden;
        position: relative;
        height: 8vw;

        h2 {
            font-family: "Black_Narrow";
            font-size: 9vw;
            line-height: 90%;
            text-transform: uppercase;
            text-align: center;
            z-index: 1;
            position: absolute;
            width: 100%;
            margin-top: 12vw;
            transition: 0.5s;

            span {
                font-family: "Black_Narrow";
            }

            i {
                font-family: "Black_Narrow_Italic";
            }
        }
    }


    .sub-h1 {
        font-family: "Trashhand";
        font-size: 2.1vw;
        color: var(--escuro);
        text-align: center;
        margin-top: 25vh;
        transition: 1s;
        opacity: 0;
    }

    .sub-h1Active {
        margin-top: 2vw;
        opacity: 1;
    }

    .defaultCTA {
        margin: 3vh auto 0 auto;
        transform: scale(1.2);
        opacity: 0;
    }
}

.about {
    width: calc(100% - 8vw);
    margin: 13vw auto 0 auto;
    padding-top: 7vw;
    position: relative;
    z-index: 1;

    #animatedText {
        font-size: 2.8vw;
        text-transform: uppercase;
        line-height: 100%;
        width: 40vw;
        transition: opacity 0.3s ease-in-out;
        white-space: pre-wrap;
        height: 20vh;
        font-family: "Medium_Narrow";
        -webkit-font-smoothing: antialiased;

        span {
            font-family: "Medium_Narrow";
            -webkit-font-smoothing: antialiased;
        }

        .letter {
            display: inline;
            opacity: 0;
            transform: translateY(20px);
            animation: fadeUp 0.1s forwards;

            &:nth-child(-n + 21) {
                font-family: "ExtraBold_Narrow";
            }

            &:nth-last-child(-n + 25) {
                font-family: "ExtraBold_Narrow_Italic";
            }
        }

        @keyframes fadeUp {
            to {
                opacity: 1;
                transform: translateY(0);
            }
        }

        i {
            font-family: "Bold_Narrow_Italic";
        }
    }

    .visible {
        opacity: 1;
    }

    .freehand {
        font-family: "Trashhand";
        font-size: 2vw;
        margin-top: 11vw;
        color: var(--escuro);
        -webkit-font-smoothing: antialiased;
    }

    .big15Years {
        width: 100%;
        position: relative;
        height: 22vw;
        z-index: 1;

        .myPicture {
            object-position: center;
            object-fit: cover;
            position: absolute;
            width: 35vw;
            height: 46.6vw;
            right: 80px;

            transform: rotate(8deg);
            z-index: 1;
        }

        svg {
            stroke: var(--neon);
            stroke-width: 2px;
            fill: none;
            position: absolute;
            z-index: 0;
        }

        .scroll-triggered {
            transform: rotateX(30deg) rotateY(30deg) rotateZ(30deg);
        }

        .outline {
            z-index: 2;
        }
    }

    .freehandred {
        font-family: "Trashhand";
        font-size: 2.5vw;
        color: var(--red);
        position: absolute;
        top: 10vw;
        right: 4vw;
        transform: rotate(-12deg);
        z-index: 3;
        text-align: right;
        text-shadow: 3px 0 var(--escuro), -3px 0 var(--escuro), 0 3px var(--escuro), 0 -3px var(--escuro),
            2px 2px var(--escuro), -2px -2px var(--escuro), 2px -2px var(--escuro), -2px 2px var(--escuro);
    }

    .aboutCarlos {
        margin-top: 5vw;
        margin-left: 35%;
        display: flex;
        position: relative;
        z-index: 1;

        p {
            font-family: "Medium_Narrow";
            font-size: 2vw;
            color: var(--escuro);
            width: 30vw;

            b {
                font-family: "Bold_Narrow";
            }
        }

        img {
            width: 12vw;
            height: 12vw;
            object-fit: cover;
            transform: rotate(13deg);
            margin-left: -1vw;
        }
    }

}


// CURVE ARROW============================
.curveArrow {
    height: 17vw;
    margin-left: 2vw;
    margin-top: 7vw;
    width: 6.5vw;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);

    svg {
        display: none;
    }
}

@-webkit-keyframes animaStroke1 {
    0% {
        stroke-dashoffset: 380.99456787109375px;
        stroke-dasharray: 380.99456787109375px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 380.99456787109375px;
    }
}

@keyframes animaStroke1 {
    0% {
        stroke-dashoffset: 380.99456787109375px;
        stroke-dasharray: 380.99456787109375px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 380.99456787109375px;
    }
}

.svg-elem-1 {
    -webkit-animation: animaStroke1 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s both;
    animation: animaStroke1 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s both;
}

@-webkit-keyframes animaStroke2 {
    0% {
        stroke-dashoffset: 25.649932861328125px;
        stroke-dasharray: 25.649932861328125px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 25.649932861328125px;
    }
}

@keyframes animaStroke2 {
    0% {
        stroke-dashoffset: 25.649932861328125px;
        stroke-dasharray: 25.649932861328125px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 25.649932861328125px;
    }
}

.svg-elem-2 {
    -webkit-animation: animaStroke2 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.12s both;
    animation: animaStroke2 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.12s both;
}

// END CURVE ARROW============================


.projects {
    width: calc(100% - 8vw);
    margin: 0 auto 0 auto;
    padding-top: 5vw;
    position: relative;
    z-index: 1;

    .headline {
        display: flex;
        flex-direction: column;
        align-items: center;
        transform-style: preserve-3d;
        transform: perspective(1000px) rotateY(-55deg) rotateX(-12deg);
        transition: 2s;
        margin-left: -20vw;

        h2 {
            text-align: center;
            width: 47vw;
            line-height: 90%;
            margin: 0 auto;
            font-size: 4.5vw;
            font-family: "Black_Narrow";
            text-transform: uppercase;
        }

        .box {
            background: var(--red);
            padding: 0.8vw 1vw;
            margin-top: 0vw;
            transform: rotate(-3deg);

            .freehand {
                font-size: 1.7vw;
                font-family: "Trashhand";
                text-align: center;
                margin: 0 auto;
                display: block;
                -webkit-font-smoothing: antialiased;
            }
        }
    }

    .headlineActive {
        transform: perspective(1000px) rotateY(0) rotateX(0);
        margin-left: 0;
    }

    .grid {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-between;
        margin-top: 2vw;

        a {
            width: calc(50% - 1vw);
            height: 30vw;
            margin-bottom: 2vw;
            background-color: #000;
        }
    }
}

.ctaBreak {
    width: calc(100% - 20vw);
    margin: 0 auto;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 13vw 0 15vw 0;
    z-index: 0;

    .mask {
        overflow: hidden;
        width: 65%;
        position: relative;
        height: 7.5vw;

        h2 {
            font-size: 8vw;
            font-family: "Black_Narrow";
            text-transform: uppercase;
            line-height: 100%;
            z-index: 1;
            text-align: center;
            margin-top: 20vw;
            position: absolute;
            width: 100%;
            transition: 0.5s;
        }

        .head3 {
            font-family: "Trashhand";
            color: var(--red);
            text-shadow: 3px 0 var(--escuro), -3px 0 var(--escuro), 0 3px var(--escuro), 0 -3px var(--escuro), 2px 2px var(--escuro), -2px -2px var(--escuro), 2px -2px var(--escuro), -2px 2px var(--escuro);
        }

        .h2Active {
            margin-top: 0;
        }
    }

    img {
        width: 10vw;
        z-index: 0;
        position: absolute;
        transition: 1s;
    }

    .gif1 {
        transform: rotate(40deg);
        left: 50%;
        top: 50%;
        width: 1px;
        height: 1px;
    }

    .gif1Active {
        transform: rotate(-12deg);
        left: 5vw;
        top: 7vw;
        width: 10vw;
        height: 10vw;
    }

    .gif2 {
        transform: rotate(40deg);
        right: 50%;
        top: 50%;
        width: 1px;
        height: 1px;
    }

    .gif2Active {
        transform: rotate(10deg);
        right: 5vw;
        top: 7vw;
        width: 10vw;
        height: 10vw;
    }

    .gif3 {
        transform: rotate(40deg);
        left: 50%;
        bottom: 50%;
        width: 1px;
        height: 1px;
    }

    .gif3Active {
        transform: rotate(5deg);
        left: 5vw;
        bottom: 7vw;
        width: 10vw;
        height: 10vw;
    }

    .gif4 {
        transform: rotate(40deg);
        right: 50%;
        bottom: 50%;
        width: 1px;
        height: 1px;
    }

    .gif4Active {
        transform: rotate(-12deg);
        right: 5vw;
        bottom: 7vw;
        width: 10vw;
        height: 10vw;
    }

    .freehand {
        font-family: "Trashhand";
        font-size: 1.8vw;
        top: -5vw;
        position: relative;
        opacity: 0;
        transition: 0.5s;
        -webkit-font-smoothing: antialiased;
    }

    .freehandActive {
        top: 0vw;
        opacity: 1;
    }

    .defaultCTA {
        transform: scale(2);
        transform-origin: top center;
        margin-top: 1vw;
        opacity: 0;
        transition: 1s;
    }

    .defaultCTAActive {
        opacity: 1;
    }
}

.bgServices {
    background-color: var(--escuro);
    height: 280vh;
    position: relative;
    z-index: 1;

    .sticky {
        overflow: hidden;
        position: sticky;
        top: 0;
        // background: red;
        height: 100vh;

        .scrollSection {
            position: absolute;
            top: 0;
            height: 100%;
            width: 280vw;
            will-change: transform;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 4vw;

            .boxes {
                width: 50vw;
                height: 75%;
                border: 2px solid var(--neon);
                position: relative;
                padding: 3vw;

                &:first-child {
                    border: 0;
                }

                h3 {
                    font-family: "Black_Narrow";
                    color: var(--neon);
                    text-transform: uppercase;
                    font-family: "Black_Narrow";
                    color: var(--neon);
                    line-height: 90%;
                    font-size: 10vw;
                }

                p {
                    font-family: "Medium_Narrow";
                    color: var(--neon);
                    font-size: 1.8vw;
                    margin-top: 2vw;
                    width: 50%;
                }
            }

            .headlines {
                display: flex;
                flex-direction: column;
                justify-content: center;

                .freehand {
                    font-family: "Trashhand";
                    font-size: 2vw;
                    margin-bottom: 2vw;
                    color: var(--neon);
                    -webkit-font-smoothing: antialiased;
                }

                h2 {
                    font-family: "Black_Narrow";
                    font-size: 4.5vw;
                    line-height: 90%;
                    color: #fff;
                    text-transform: uppercase;
                    width: 80%;

                    i {
                        font-family: "Medium_Narrow";
                    }
                }

                .curveArrow {
                    position: absolute;
                    right: 5%;
                    bottom: -10%;
                    display: none;
                    transform: rotate(-82deg);
                }
            }
        }
    }

}

.bgClients {
    width: calc(100% - 8vw);
    margin: 0 auto;
    position: relative;
    padding-top: 10vw;
    z-index: 1;

    .headline {
        width: 38vw;
        position: sticky;
        top: 6vw;
        transform-style: preserve-3d;
        transform: perspective(1000px) rotateY(-55deg) rotateX(-12deg);
        transition: 2s;
        margin-left: -20vw;
        height: 12vw;

        h2 {
            line-height: 90%;
            margin: 0 auto;
            font-size: 4.5vw;
            font-family: "Black_Narrow";
            text-transform: uppercase;
        }

        .box {
            background: var(--red);
            padding: 0.6vw 1.2vw;
            margin-top: -0.2vw;
            margin-left: 13vw;
            transform: rotate(-4deg);
            float: left;
            display: block;
            position: absolute;

            .freehand {
                font-size: 2vw;
                font-family: "Trashhand";
                text-align: center;
                margin: 0 auto;
                display: block;
                -webkit-font-smoothing: antialiased;
            }
        }
    }

    .headlineActive {
        margin-left: 0;
        transform: perspective(1000px) rotateY(0) rotateX(0);
    }

    .gridLogos {
        width: 47vw;
        display: flex;
        flex-wrap: wrap;
        margin-left: 45vw;
        margin-top: -12vw;

        div {
            width: 33.3333%;
            height: 12vw;
            border: 1px solid var(--escuro);
            margin: -1px 0 0 -1px;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                width: 50%;
                height: 20%;
            }
        }
    }
}

.bgFooter {
    width: 100vw;
    margin-top: 10vw;
    position: relative;
    padding-top: 8vw;
    height: 100vh;

    .bannerVideo {
        width: 100vw;
        position: absolute;
        z-index: 0;
        left: 0;
        top: 0;
        height: 101vh;
        object-fit: cover;
    }

    .headline {
        width: 50vw;
        position: relative;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;

        .boxH2 {
            overflow: hidden;
            position: relative;
            height: 7vw;

            h2 {
                color: var(--neon);
                font-family: "Black_Narrow";
                line-height: 90%;
                text-align: center;
                z-index: 1;
                text-transform: uppercase;
                font-size: 7.5vw;
                margin-top: 10vw;
                transition: 1s;
            }

            .h2ActiveFooter {
                margin-top: 0;
            }
        }

        .box {
            background: var(--red);
            padding: 0.6vw 1.2vw;
            margin-top: 5vw;
            transform: rotate(-4deg);
            z-index: 1;
            position: relative;
            transition: 0.5s;
            opacity: 0;

            .freehand {
                font-size: 2vw;
                font-family: "Trashhand";
                text-align: center;
                margin: 0 auto;
                display: block;
                -webkit-font-smoothing: antialiased;
            }

        }

        .boxActive {
            margin-top: -1vw;
            opacity: 1;
        }

        .defaultCTA {
            transform: scale(2);
            margin-top: 3vw;
            opacity: 0;
        }
    }

    .ctas {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 4vw;
        position: relative;
        z-index: 3;
        opacity: 0;
        transition: 0.5s;
        -webkit-font-smoothing: antialiased;

        .lastContact {
            font-family: "Bold_Narrow";
            color: var(--neon);
            font-size: 1.6vw;
            text-align: center;
            text-transform: uppercase;
            margin-bottom: 1.2vw;

            &:hover {
                text-decoration: underline;

            }
        }

    }

    .copyright {
        width: calc(100% - 8vw);
        margin: 2vw auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        z-index: 3;
        position: absolute;
        bottom: 0;
        left: 4vw;
        opacity: 0;
        transition: 0.5s;

        .copyLeft {
            font-family: "Medium_Narrow";
            color: #fff;
            text-transform: uppercase;
            font-size: 0.9vw;
            width: 30%;

            span {
                font-family: "Medium_Narrow";
            }
        }

        .backTop {
            font-size: 1vw;
            color: var(--neon);
            font-family: "Medium_Narrow";
            text-align: center;
            text-transform: uppercase;
        }

        .social {
            width: 30%;
            display: flex;
            justify-content: end;

            p {
                font-size: 0.9vw;
                font-family: "Medium_Narrow";
                color: #fff;
                text-transform: uppercase;
                font-size: 18px;
                margin-right: 1vw;
            }

            a {
                font-size: 0.9vw;
                font-family: "Medium_Narrow";
                display: flex;
                align-items: center;
                justify-content: center;
                text-transform: uppercase;
                color: #fff;
                margin-left: 2vw;

                &:hover {
                    color: var(--neon);
                }
            }
        }
    }
}

@media only screen and (max-width: 1023px) {
    .header {
        width: calc(100vw - 10vw);
        left: 5vw;

        .logo {
            width: 70px;
        }

        .menus {
            .link {
                display: none;
            }
        }
    }

    .headerAtive {
        margin-top: 4vw;
    }

    .hero {
        height: 100vh;
        padding-top: 31vh;

        img {
            height: 35vw;
            left: calc(50% - 17.5vw);
            margin-top: -60vh;
        }

        .avatarActive {
            margin-top: -16vh;
        }

        .contH2 {
            height: 16vw;

            h2 {
                font-size: 17vw;
                font-family: "ExtraBold_Narrow";
                letter-spacing: -2px;
                margin-top: 18vw;

                span {
                    display: none;
                    font-family: "ExtraBold_Narrow";
                }

                i {
                    font-family: "ExtraBold_Narrow";
                }
            }
        }

        .sub-h1 {
            font-size: 7vw;
            margin-top: 10vh;
        }

        .sub-h1Active {
            margin-top: 5vw;
            opacity: 1;
        }

        .defaultCTA {
            margin-top: 4vh;
        }

        .smallText {
            bottom: 12vh;
            margin-top: 0;
            justify-content: center;

            p {
                font-size: 4vw;

                span {
                    display: none;
                }
            }

            .left {
                margin-left: 0;
            }

            .right {
                margin-right: 0;
            }

            .leftActive {
                margin-left: 0;
            }

            .rightActive {
                margin-right: 0;
            }
        }
    }

    .startAnimation {
        .logoSpace {
            transform: scale(0.7) rotate(0deg);
            -webkit-transform: scale(0.7) rotate(0deg);
        }

        .logoSpaceActive {
            transform: scale(392) rotate(-15deg);
            -webkit-transform: scale(392) rotate(-15deg);
        }
    }

    .about {
        padding-top: 0;
        margin: 0 auto;

        #animatedText {
            width: 100%;
            font-size: 7vw;
        }

        .freehand {
            font-size: 6vw;
            margin-top: 20vh;
            margin-bottom: 2vh;
        }

        .big15Years {
            .myPicture {
                right: 0;
                width: 53vw;
                height: 66vw;
                margin-top: -10vh;
            }
        }

        .freehandred {
            font-size: 5.5vw;
        }

        .aboutCarlos {
            margin-top: 15vh;
            margin-left: 0;
            margin-bottom: 10vh;

            p {
                width: 55vw;
                font-size: 5vw;
            }

            img {
                width: 32vw;
                height: 32vw;
                margin-left: 2vw;
            }

            .curveArrow {
                transform: scaleX(1) rotate(-90deg);
                position: absolute;
                height: 38vw;
                margin-left: 33vw;
                margin-top: 17vw;
                width: 14.5vw;
            }
        }
    }

    .projects {
        padding-top: 10vh;

        .headline {
            margin-left: 0;

            h2 {
                font-size: 12vw;
                width: 90%;
                font-family: "ExtraBold_Narrow";
                letter-spacing: -1px;

            }

            .box {
                padding: 2vw 3vw;

                .freehand {
                    font-size: 5vw;
                }
            }
        }

        .grid {
            margin-top: 7vw;

            a {
                width: 100%;
                height: 30vh;
                margin-bottom: 5vw;
            }
        }
    }

    .ctaBreak {
        padding: 15vh 0;

        .freehandActive {
            font-size: 10vw;
            margin-top: 3vh;
        }

        .mask {
            width: 100%;
            height: 15vw;

            h2 {
                font-size: 14vw;
            }
        }

        .defaultCTA {
            transform: scale(1);
        }

        .gif3 {
            bottom: unset;
            top: 50%;
        }


        .gif4 {
            top: 50%;
            bottom: unset;
        }

        .gif1Active {
            width: 20vw;
            height: 20vw;
            left: 0;
            top: 7vw;
        }

        .gif2Active {
            width: 20vw;
            height: 20vw;
            left: 20vw;
            top: 7vw;
        }

        .gif3Active {
            width: 20vw;
            height: 20vw;
            left: 40vw;
            top: 7vw;
        }

        .gif4Active {
            width: 20vw;
            height: 20vw;
            right: 0;
            top: 7vw;
        }
    }
}